# TEJTOOLAPI 資料撈取整併
運用 TEJTOOLAPI 整併資料。TEJTOOLAPI 主要整併股價與不同屬性的資料庫，透過輸入股票代碼 (TICKERS) 和欄位 (FIELD) 後，可將欲抓取的資料整併為以日頻率的 DataFrame。

目前可抓取的資料庫為：
- 股價交易資訊(TWN/APIPRCD)
- 月營收(TWN/APISALE1)
- 會計師簽證財務資料(TWN/AINVFQ1)
- 三大法人、融資券、當沖(TWN/APISHRACT)
- 集保庫存(TWN/APISHRACTW)
- 股票日交易註記資訊(TWN/APISTKATTR)
- 交易日期表(TWN/TRADEDAY_TWSE)
- 董監全體持股狀況(TWN/APIBSTN1)
- 全面改選統計(TWN/APICHGSTAT)
- 董事長與高階主管變動事件(TWN/APIDIRCHG)
- 合併收購(TWN/APIMA)
- 股利政策(TWN/APIMT1)
- 資本形成(TWN/APISTK1)
- 私募應募人與公司的關係(TWN/APISTKPRV)
- 董監申報轉讓-轉讓(TWN/APITRANS1)
- 董監申報轉讓-未轉讓(TWN/APITRANS2)
- 庫藏股實施事件簿(TWN/APITRS)

主要整併方法是以交易日期表為索引整併股價與不同屬性的資料，以下示範 TEJTOOLAPI 整併股價與不同屬性資料表的所有欄位。

tejtoolapi 及以上資料庫相關欄位 : https://tquant.tejwin.com/資料集/<br>

### 1. 環境設定

In [ ]:
import os
os.environ['TEJAPI_KEY'] = "your key" 
os.environ['TEJAPI_BASE'] = "https://api.tej.com.tw"

import TejToolAPI

### 2. 設定 tickers

In [2]:
tickers = ['2330','2454','2317','2882','2881']

### 3. tejtoolapi 取得單獨資料庫

3.1、月營收的欄位

In [3]:
columns = [
       'Sales_Accu_LastYear', 'Sales_Accu_3M',
       'Sales_Per_Share_Accu_12M', 'YoY_Accu_Sales', 'YoY_Monthly_Sales',
       'Sales_Per_Share_Accu_3M', 'Sales_Accu_3M_LastYear', 'Sales_Monthly',
       'YoY_AccuSales_12M', 'YoY_Accu_Sales_3M', 'MoM_Monthly_Sales',
       'Sales_Accumulated', 'QoQ_Accu_Sales_3M', 'MoM_Accu_Sales_3M',
       'Sales_Monthly_LastYear', 'Outstanding_Shares_1000_Shares_Monthly_Frequency'
]

data = TejToolAPI.get_history_data(
       ticker=tickers, 
       columns=columns,
       transfer_to_chinese=False
)
data.head(5)

Currently used TEJ API key call quota 1269/100000 (1.27%)
Currently used TEJ API key data quota 108648425/10000000 (1086.48%)

,coid,mdate,Sales_Accu_LastYear,Sales_Per_Share_Accu_3M,YoY_Monthly_Sales,Sales_Accumulated,MoM_Monthly_Sales,Sales_Accu_3M,Sales_Per_Share_Accu_12M,Sales_Monthly_LastYear,YoY_AccuSales_12M,QoQ_Accu_Sales_3M,MoM_Accu_Sales_3M,Outstanding_Shares_1000_Shares_Monthly_Frequency,Sales_Monthly,YoY_Accu_Sales_3M,YoY_Accu_Sales,Sales_Accu_3M_LastYear
0,2317,2013-01-02,NaN,NaN,14.5,NaN,27.58,NaN,NaN,NaN,17.57,22.62,17.52,11835867.0,NaN,5.27,16.38,NaN
1,2317,2013-01-03,NaN,NaN,14.5,NaN,27.58,NaN,NaN,NaN,17.57,22.62,17.52,11835867.0,NaN,5.27,16.38,NaN
2,2317,2013-01-04,NaN,NaN,14.5,NaN,27.58,NaN,NaN,NaN,17.57,22.62,17.52,11835867.0,NaN,5.27,16.38,NaN
3,2317,2013-01-07,NaN,NaN,14.5,NaN,27.58,NaN,NaN,NaN,17.57,22.62,17.52,11835867.0,NaN,5.27,16.38,NaN
4,2317,2013-01-08,NaN,NaN,14.5,NaN,27.58,NaN,NaN,NaN,17.57,22.62,17.52,11835867.0,NaN,5.27,16.38,NaN

3.2、量化籌碼_周 - 集保庫存欄位

In [4]:
columns = [
       'Total_Custodied_Shares_1000_Lots',
       'Custodied_Under_400_Lots_Total_Lots',
       'Custodied_Lots_Between_800_1000_Total_Lots',
       'Custodied_Larger_Than_400_Lots_Pct',
       'Custodied_Lots_Between_400_600_Total_Lots',
       'Custodied_Lots_Between_600_800_Pct', 
       'Pledged_Stock_Shares_1000_Lots',
       'Custodied_Under_400_Lots_Pct',
       'Custodied_Lots_Between_400_600_Total_Holders',
       'Custodied_Lots_Between_800_1000_Total_Holders',
       'Custodied_Under_400_Lots_Total_Holders',
       'Custodied_Lots_Between_400_600_Pct',
       'Custodied_Lots_Between_800_1000_Pct',
       'Custodied_Greater_Than_1000_Lots_Pct'
]

data = TejToolAPI.get_history_data(
       ticker=tickers, 
       columns=columns,
       transfer_to_chinese=False
)                                 
    
data.head(5)

Currently used TEJ API key call quota 1275/100000 (1.27%)
Currently used TEJ API key data quota 108690998/10000000 (1086.91%)

,coid,mdate,Custodied_Lots_Between_400_600_Pct,Custodied_Under_400_Lots_Pct,Custodied_Lots_Between_800_1000_Total_Lots,Total_Custodied_Shares_1000_Lots,Custodied_Under_400_Lots_Total_Holders,Custodied_Lots_Between_800_1000_Pct,Custodied_Larger_Than_400_Lots_Pct,Custodied_Lots_Between_400_600_Total_Holders,Custodied_Greater_Than_1000_Lots_Pct,Custodied_Lots_Between_600_800_Pct,Custodied_Lots_Between_800_1000_Total_Holders,Pledged_Stock_Shares_1000_Lots,Custodied_Lots_Between_400_600_Total_Lots,Custodied_Under_400_Lots_Total_Lots
0,2317,2013-01-02,NaN,NaN,NaN,11835866.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,623341.0,NaN,NaN
1,2317,2013-01-03,NaN,NaN,NaN,11835866.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,623341.0,NaN,NaN
2,2317,2013-01-04,NaN,NaN,NaN,11835866.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,623341.0,NaN,NaN
3,2317,2013-01-07,1.36,21.45,125000.0,11835866.0,480870.0,1.05,78.47,327.0,74.89,1.17,139.0,633326.0,161668.0,2545704.0
4,2317,2013-01-08,1.36,21.45,125000.0,11835866.0,480870.0,1.05,78.47,327.0,74.89,1.17,139.0,633326.0,161668.0,2545704.0

3.3、量化籌碼_日& 交易註記 欄位

In [5]:
ticker = tickers
columns =[
       'Market', 'Dealer_Proprietary_Diff_Vol', 'Margin_Sale',
       'Cash_Redemption', 'Margin_Short_Balance_Amt',
       'Margin_Short_Balance_Vol', 'Dealer_Hedge_Buy_Vol',
       'Day_Trading_Volume_1000_Shares', 'SBL_Short_Returns_Vol',
       'Security_Type_English', 'Attention_Stock_Fg', 'Industry_Eng',
       'Component_Stock_of_TPEx50_Fg', 'Limit_Up_or_Down_in_Opening_Fg',
       'Limit_Up_or_Down'
]

data = TejToolAPI.get_history_data(
       ticker=tickers, 
       columns=columns,
       transfer_to_chinese=False,                                    
)                                 
    
data.head(5)

Currently used TEJ API key call quota 1287/100000 (1.29%)
Currently used TEJ API key data quota 108834509/10000000 (1088.35%)

,coid,mdate,Limit_Up_or_Down_in_Opening_Fg,Margin_Short_Balance_Amt,Margin_Short_Balance_Vol,Day_Trading_Volume_1000_Shares,Component_Stock_of_TPEx50_Fg,Industry_Eng,Dealer_Proprietary_Diff_Vol,Margin_Sale,Attention_Stock_Fg,SBL_Short_Returns_Vol,Dealer_Hedge_Buy_Vol,Cash_Redemption,Limit_Up_or_Down,Market,Security_Type_English
0,2317,2013-01-02,,411762.12,4608.0,NaN,,M2300 Electronics,NaN,2816.0,,0.0,NaN,7.0,,TWSE,Common Stock
1,2317,2013-01-03,,480954.00,5395.0,NaN,,M2300 Electronics,NaN,4475.0,,-69000.0,NaN,31.0,,TWSE,Common Stock
2,2317,2013-01-04,,488592.97,5539.0,NaN,,M2300 Electronics,NaN,3840.0,,150000.0,NaN,61.0,,TWSE,Common Stock
3,2317,2013-01-07,,495856.76,5690.0,NaN,,M2300 Electronics,NaN,2380.0,,100000.0,NaN,89.0,,TWSE,Common Stock
4,2317,2013-01-08,,319181.95,3679.0,NaN,,M2300 Electronics,NaN,1871.0,,-2105000.0,NaN,12.0,,TWSE,Common Stock

3.4、抓取財務資料參數設定

`ticker`
- 單一股票  :['2330'] 
- 多股      :['2330','2317']

`columns`
- 欄位: columns=['r408','r409','r502']

`transfer_chinese_columns`
- 預設 transfer_chinese_columns = False
- 測試欄位轉換成中文(transfer_chinese_columns = True)

`fin_type = [A, Q, TTM]`
- A: 表示累積
- Q: 表示單季
- TTM: 表示移動4季

`include_self_acc`
- 投資用財務包含自結和董事會決議數(include_self_acc = 'Y')
- 僅投資用財務(include_self_acc = 'N')

3.4.1、財務僅會計師核閱

In [6]:
columns =[
       'Total_Operating_Income',
       'Net_Operating_Income_Loss',
       'Gross_Profit_Loss_from_Operations'
]

fin_type = ['A','Q','TTM']

data = TejToolAPI.get_history_data(ticker=tickers, columns=columns, transfer_to_chinese=False, fin_type=fin_type, include_self_acc='N')
data.head(5)

Currently used TEJ API key call quota 1293/100000 (1.29%)
Currently used TEJ API key data quota 108872878/10000000 (1088.73%)

,coid,mdate,Total_Operating_Income_A,Net_Operating_Income_Loss_A,Gross_Profit_Loss_from_Operations_TTM,Gross_Profit_Loss_from_Operations_A,Total_Operating_Income_TTM,Total_Operating_Income_Q,Net_Operating_Income_Loss_Q,Net_Operating_Income_Loss_TTM,Gross_Profit_Loss_from_Operations_Q
0,2317,2013-01-02,2.767645e+09,66513219.0,263626496.0,168148693.0,3.841837e+09,874442214.0,29652647.0,101888675.0,65803792.0
1,2317,2013-01-03,2.767645e+09,66513219.0,263626496.0,168148693.0,3.841837e+09,874442214.0,29652647.0,101888675.0,65803792.0
2,2317,2013-01-04,2.767645e+09,66513219.0,263626496.0,168148693.0,3.841837e+09,874442214.0,29652647.0,101888675.0,65803792.0
3,2317,2013-01-07,2.767645e+09,66513219.0,263626496.0,168148693.0,3.841837e+09,874442214.0,29652647.0,101888675.0,65803792.0
4,2317,2013-01-08,2.767645e+09,66513219.0,263626496.0,168148693.0,3.841837e+09,874442214.0,29652647.0,101888675.0,65803792.0

3.4.2、財務包含公司自結數與會計師核閱

In [7]:
columns =[
       'Total_Operating_Income',
       'Net_Operating_Income_Loss',
       'Gross_Profit_Loss_from_Operations'
]

fin_type = ['A','Q','TTM']

data = TejToolAPI.get_history_data(ticker=tickers, columns=columns, transfer_to_chinese=False, fin_type=fin_type, include_self_acc='Y')
data.head(5)

Currently used TEJ API key call quota 1302/100000 (1.3%)
Currently used TEJ API key data quota 108914766/10000000 (1089.15%)

,coid,mdate,Total_Operating_Income_A,Net_Operating_Income_Loss_A,Gross_Profit_Loss_from_Operations_TTM,Gross_Profit_Loss_from_Operations_A,Total_Operating_Income_TTM,Total_Operating_Income_Q,Net_Operating_Income_Loss_Q,Net_Operating_Income_Loss_TTM,Gross_Profit_Loss_from_Operations_Q
0,2317,2013-01-02,2.767645e+09,66513219.0,263626496.0,168148693.0,3.841837e+09,874442214.0,29652647.0,101888675.0,65803792.0
1,2317,2013-01-03,2.767645e+09,66513219.0,263626496.0,168148693.0,3.841837e+09,874442214.0,29652647.0,101888675.0,65803792.0
2,2317,2013-01-04,2.767645e+09,66513219.0,263626496.0,168148693.0,3.841837e+09,874442214.0,29652647.0,101888675.0,65803792.0
3,2317,2013-01-07,2.767645e+09,66513219.0,263626496.0,168148693.0,3.841837e+09,874442214.0,29652647.0,101888675.0,65803792.0
4,2317,2013-01-08,2.767645e+09,66513219.0,263626496.0,168148693.0,3.841837e+09,874442214.0,29652647.0,101888675.0,65803792.0

### 4、以下範例示範運用 TejToolAPI 一鍵抓取不同資料庫的欄位與整併。
- **股價資料庫(日頻)**
    - 開盤價、收盤價
- **籌碼資料庫(日頻)**
    - 外資買賣超張數、合計買賣超張數
- **交易註記資料庫(日頻)**
    - 是否為注意股票、是否暫停交易、是否為臺灣50成分股、是否為處置股票、分盤間隔時間
- **集保資料庫(周頻)**
    - 800-1000張集保占比、800-1000張集保張數    
- **財報資料庫(季頻)**
    - 營業毛利成長率_Q、營業利益成長率_Q、稅後淨利率_Q

In [8]:
# 輸入欄位
icolumns = [
    'Open','Close',
    'Qfii_Diff_Vol','Total_Diff_Vol',
    'Custodied_Lots_Between_800_1000_Total_Lots','Custodied_Lots_Between_800_1000_Pct',
    'Attention_Stock_Fg','Disposition_Stock_Fg','Matching_Period','Suspended_Trading_Stock_Fg','Component_Stock_of_TWN50_Fg',
    'Gross_Margin_Growth_Rate','Net_Income_Rate_percent','Operating_Income_Growth_Rate'
]
# TEJTOOLAPI整併
data = TejToolAPI.get_history_data(
    ticker=tickers, 
    columns=icolumns,
    transfer_to_chinese=True, 
    fin_type = ['Q'],
    start = '2015-01-01', 
    end = '2022-12-31'
)
data.head(5)

Currently used TEJ API key call quota 1320/100000 (1.32%)
Currently used TEJ API key data quota 109010819/10000000 (1090.11%)

,股票代碼,日期,分盤間隔時間,是否為臺灣50成分股,是否為處置股票,開盤價,800_1000張集保張數,營業毛利成長率_Q,合計買賣超張數,稅後淨利率_Q,800_1000張集保占比,收盤價,營業利益成長率_Q,外資買賣超張數,是否為注意股票,是否暫停交易
0,2317,2015-01-05,0.0,Y,,87.8,113381.0,3.84,-12896.0,3.64,0.76,87.2,-1.49,-11284.0,,
1,2317,2015-01-06,0.0,Y,,86.0,113381.0,3.84,-38928.0,3.64,0.76,84.5,-1.49,-34944.0,,
2,2317,2015-01-07,0.0,Y,,84.3,113381.0,3.84,-9110.0,3.64,0.76,85.2,-1.49,-8780.0,,
3,2317,2015-01-08,0.0,Y,,85.9,113381.0,3.84,7187.0,3.64,0.76,86.9,-1.49,4228.0,,
4,2317,2015-01-09,0.0,Y,,87.3,113381.0,3.84,-4927.0,3.64,0.76,86.5,-1.49,-2308.0,,

抓取股價資料庫與籌碼料庫

In [9]:
columns = [
    'Open','High','Low','Close','Adjust_Factor','Volume_1000_Shares',
    'Qfii_Buy_Vol','Qfii_Sell_Vol','Qfii_Diff_Vol','Qfii_Buy_Amt','Qfii_Sell_Amt','Qfii_Diff_Amt'
]
data = TejToolAPI.get_history_data(
    ticker=ticker, 
    columns=columns,
    transfer_to_chinese=False, 
    start='2015-01-01',
    end='2022-12-31'
)
data.head(5)

Currently used TEJ API key call quota 1329/100000 (1.33%)
Currently used TEJ API key data quota 109078331/10000000 (1090.78%)

,coid,mdate,Qfii_Buy_Vol,Low,Qfii_Sell_Vol,Open,High,Adjust_Factor,Close,Qfii_Diff_Amt,Volume_1000_Shares,Qfii_Diff_Vol,Qfii_Buy_Amt,Qfii_Sell_Amt
0,2317,2015-01-05,4584.0,86.9,15868.0,87.8,87.8,0.671368,87.2,-983965.0,25369.0,-11284.0,399725.0,1383690.0
1,2317,2015-01-06,8756.0,84.5,43700.0,86.0,86.0,0.671368,84.5,-2952768.0,65967.0,-34944.0,739882.0,3692650.0
2,2317,2015-01-07,9351.0,84.3,18131.0,84.3,85.8,0.671368,85.2,-748056.0,33872.0,-8780.0,796705.0,1544761.0
3,2317,2015-01-08,11425.0,85.7,7197.0,85.9,87.0,0.671368,86.9,367413.0,31001.0,4228.0,992833.0,625419.0
4,2317,2015-01-09,3610.0,86.5,5918.0,87.3,87.8,0.671368,86.5,-199642.0,22801.0,-2308.0,312265.0,511907.0

抓取財務資料(default:僅會計師核閱)

In [10]:
columns = ['r404','r401','eps']
fin_type = ['A','Q','TTM']
data = TejToolAPI.get_history_data(ticker=tickers, columns=columns,transfer_to_chinese=True, fin_type=fin_type)
data.head(5)

Currently used TEJ API key call quota 1335/100000 (1.33%)
Currently used TEJ API key data quota 109116700/10000000 (1091.17%)

,股票代碼,日期,母公司每股盈餘_Q,營收成長率_A,母公司每股盈餘_A,稅前淨利成長率_Q,稅前淨利成長率_A,營收成長率_TTM,稅前淨利成長率_TTM,母公司每股盈餘_TTM,營收成長率_Q
0,2317,2013-01-02,2.78,NaN,4.66,59.16,NaN,15.35,34.63,NaN,1.29
1,2317,2013-01-03,2.78,NaN,4.66,59.16,NaN,15.35,34.63,NaN,1.29
2,2317,2013-01-04,2.78,NaN,4.66,59.16,NaN,15.35,34.63,NaN,1.29
3,2317,2013-01-07,2.78,NaN,4.66,59.16,NaN,15.35,34.63,NaN,1.29
4,2317,2013-01-08,2.78,NaN,4.66,59.16,NaN,15.35,34.63,NaN,1.29

抓取財務資料僅會計師核閱

In [11]:
columns = ['r404','r401','eps']
fin_type = ['A','Q','TTM']
data = TejToolAPI.get_history_data(ticker=tickers, columns=columns,transfer_to_chinese=True, fin_type=fin_type, include_self_acc='N')
data.head(5)

Currently used TEJ API key call quota 1341/100000 (1.34%)
Currently used TEJ API key data quota 109155069/10000000 (1091.55%)

,股票代碼,日期,母公司每股盈餘_Q,營收成長率_A,母公司每股盈餘_A,稅前淨利成長率_Q,稅前淨利成長率_A,營收成長率_TTM,稅前淨利成長率_TTM,母公司每股盈餘_TTM,營收成長率_Q
0,2317,2013-01-02,2.78,NaN,4.66,59.16,NaN,15.35,34.63,NaN,1.29
1,2317,2013-01-03,2.78,NaN,4.66,59.16,NaN,15.35,34.63,NaN,1.29
2,2317,2013-01-04,2.78,NaN,4.66,59.16,NaN,15.35,34.63,NaN,1.29
3,2317,2013-01-07,2.78,NaN,4.66,59.16,NaN,15.35,34.63,NaN,1.29
4,2317,2013-01-08,2.78,NaN,4.66,59.16,NaN,15.35,34.63,NaN,1.29

抓取財務資料含自結數

In [12]:
columns = ['r404','r401','eps']
fin_type = ['A','Q','TTM']
data = TejToolAPI.get_history_data(ticker=tickers, columns=columns,transfer_to_chinese=True, fin_type=fin_type)
data.head(5)

Currently used TEJ API key call quota 1347/100000 (1.35%)
Currently used TEJ API key data quota 109193438/10000000 (1091.93%)

,股票代碼,日期,母公司每股盈餘_Q,營收成長率_A,母公司每股盈餘_A,稅前淨利成長率_Q,稅前淨利成長率_A,營收成長率_TTM,稅前淨利成長率_TTM,母公司每股盈餘_TTM,營收成長率_Q
0,2317,2013-01-02,2.78,NaN,4.66,59.16,NaN,15.35,34.63,NaN,1.29
1,2317,2013-01-03,2.78,NaN,4.66,59.16,NaN,15.35,34.63,NaN,1.29
2,2317,2013-01-04,2.78,NaN,4.66,59.16,NaN,15.35,34.63,NaN,1.29
3,2317,2013-01-07,2.78,NaN,4.66,59.16,NaN,15.35,34.63,NaN,1.29
4,2317,2013-01-08,2.78,NaN,4.66,59.16,NaN,15.35,34.63,NaN,1.29